html {
  font-size: 10px;
}
body{
    margin: 0;
}
.container {
  height: 60rem;
  width: 60rem;
  background-color: aqua;
  border: 2px solid black;
  margin: 0 auto;
  position: relative;
}

.box {
  background-color: orange;
  position: absolute;
}
