

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

$text-color: #a4a6b3;

h1,
h2,
h3,
body  , p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
}

.Regular {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  color: $text-color;
  line-height: 20px;
  letter-spacing: 1.2;
}

.Bold-24 {
  font-size: 2.4rem;
  line-height: 3.012rem;
  font-weight: 700;
  letter-spacing: 1.3;
  color: #252733;
}

.Bold-14 {
  font-size: 1.4rem;
  line-height: 1.757rem;
  letter-spacing: 1.2;
  color: #9fa2b4;
}

.Bold-19 {
  font-size: 1.9rem;
  line-height: 2.3rem;
  letter-spacing: 1.4;
}

.semibold-14 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.2px;

  /* grayscale / gray dark */

  color: #252733;
}

i{
  font-size: 1.6rem;
}
